<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.somow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/home"
        android:label="auction"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dashboard"
            android:label="DASHBOARD" />
        <activity
            android:name=".auctionslive"
            android:label="DESCRIPTION" />
        <activity
            android:name=".newauctions"
            android:label="NEW AUCTION" />
        <activity
            android:name=".myauctions"
            android:label="MINE" />
        <activity
            android:name=".registration"
            android:label="REGISTRATION" />
        <activity
            android:name=".login"
            android:label="LOGIN" />

        <activity android:name=".history"
            android:label="HISTORY"></activity>

    </application>

</manifest>